[submodule "vim/pack/plugins/start/command-t"]
	path = vim/pack/plugins/start/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/plugins/start/gruvbox"]
	path = vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox/
[submodule "https://github.com/christoomey/vim-tmux-navigator.git"]
	path = vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/jedi-vim"]
	path = vim/pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/pack/plugins/start/supertab"]
	path = vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/pack/plugins/start/fugitive"]
	path = vim/pack/plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/pack/plugins/start/rhubarb"]
	path = vim/pack/plugins/start/rhubarb
	url = https://github.com/tpope/vim-rhubarb
